* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: black;
  height: 100px;
  margin-bottom: 20px;
  width: 100%;
}

.title {
  text-align: center;
  color: white;
}

.img {
  width: 100px;
  height: 100%;
}

header div {
  display: flex;
  justify-content: center;
  width: 100%;
}